/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.container{
text-align: left;
padding: 50px;
border: 2px solid #d34343;
border-radius: 5px;
background-color: #a5d6ac;
max-width: 400px;
margin: 0 auto;
} 